{% extends 'base.html.twig' %}

{% block title %}Hello {{categorie.nom}}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">   
    <h1>{{categorie.nom}}</h1>

    <table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nom</th>
            <th scope="col">categorie</th>
        </tr>
    </thead>
    <tbody>
        {% for voiture in voitures %}
            <tr>
                <td><a href="{{ path('voiture_view', {id: voiture.id})}}">{{voiture.id}}</a></td>
                <td>{{voiture.nom}}</td>
                
                <td>{{voiture.categorie.nom}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
